a {
	color: var(--sp-color-interactive);
	display: inline-block;	
}
a:focus-visible {
	background: var(--sp-color-interactive-background-hover-subtle);
	outline: 2px solid var(--sp-color-interactive-outline);
	outline-offset: 0;
}
a:hover {
	background: var(--sp-color-interactive-background-hover);
	text-decoration: none;
}

body {
	font-family: sans-serif;
	color: var(--sp-color-main-foreground);
	background: var(--sp-color-main-background);
	display: grid;
	height: 100vh;
	grid-template-rows: min-content 1fr min-content;
}

header {
	display: grid;
	place-items: center;
	color: var(--sp-color-header-foreground);
	background-color: var(--sp-color-header-background);
	grid-template-columns: 1fr 4rem;
	grid-template-areas: 
		'headline avatar' 
		'subtitle avatar';
}

header h1 {
	font-size: var(--sp-spacing-title-1-size);
	grid-area: headline;
}

header p {
	grid-area: subtitle;
}

header .avatar {
	grid-area: avatar;
}

h2 {
	font-size: var(--sp-spacing-title-2-size);
	margin: var(--sp-spacing-4x) 0;
}

dt {
	margin-top: var(--sp-spacing-4x);
	font-weight: bold;
}

dd {
	color: var(--sp-color-main-foreground-muted);
	padding: var(--sp-spacing-2x) var(--sp-spacing-4x);
}

main {
	max-width: 800px;
	padding: var(--sp-spacing-2x);
	margin: var(--sp-spacing-4x) auto;
	overflow-y: auto;
}
footer {
	padding: var(--sp-spacing-2x) var(--sp-spacing-4x);
	font-size: smaller;
	color: var(--sp-color-header-foreground);
	background-color: var(--sp-color-header-background);
}

footer a {
	color: var(--sp-color-header-foreground);
}

.avatar {
	height: 3rem;
}