#section-device-info {
	background: #eeeeee;
	padding: 0.5em;
}
#section-device-info:not(.device-info--visible) {
	display: none;
}

#device-info {
	background: white;
	width: 100%;
	border-collapse: collapse;
	font-family: monospace;
	th, td {
		min-width: 14ch;
		vertical-align: top;
		padding: 0.25em 0.5em;
	}
}

details h2 {
	display: inline;
	font-size: smaller;
}