:root {
	color-scheme: light;
	/* global, light theme */
	--sp-color-header-background: #326935;
	--sp-color-header-foreground: var(--sp-color-main-background);

	--sp-color-main-background: #ffffff;
	--sp-color-main-foreground: #333333;
	--sp-color-main-foreground-muted: #555555;

	/* spacing */
	--sp-spacing-1x: 0.25rem;
	--sp-spacing-2x: 0.5rem;
	--sp-spacing-4x: 1rem;

	--sp-spacing-title-1-size: 2rem;
	--sp-spacing-title-2-size: 1.5rem;

	/* interactive */ 
	--sp-color-interactive: #326935;
	--sp-color-header-interactive-hover: #d1ebd3;
	--sp-color-interactive-background: rgba(0, 0, 0, 0);
	--sp-color-interactive-background-hover: rgba(0, 0, 0, 0.15);
	--sp-color-interactive-background-hover-subtle: rgba(0, 0, 0, 0.01);
	--sp-color-interactive-outline: #ff8800;

}

@media screen and (max-width: 370px) {
	:root {
		--sp-spacing-title-1-size: 1.5rem;
		--sp-spacing-title-2-size: 1.2rem;
	}
}