:root {
	--sp-interactive-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
	--sp-interactive-transform-visible: scale(1, 1);
	--sp-interactive-transform-invisible: scale(1, 0);
}

main {
	max-width: unset;
    overflow: visible;
}
.open-here {
    display: inline-block;
    position: relative;
    background: #eeeeee;
	height: 1em;
	/* width: 600px; */
}

.open-here > button {
	width: 400px;
}

dialog {
	transform-origin: top;
	min-width: 350px;
	min-height: 200px;
	border: none;
	box-shadow: 0px 04px 4px rgba(0, 0, 0, 0.4);
}

dialog.is-dropdown {
    width: 100%;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.4);
}

#the-anchor {
	anchor-name: --theAnchor;
}

#the-popup {
	inset: auto; /* reset user-agent styling to make the modal/dialog/popover properly placeable*/
	position-anchor: --theAnchor;
	left: anchor(right);
	top: anchor(top);
	background: wheat;
	max-width: 200px;
	max-height: 120px;
	min-height: 100px;
}
