.tf-v1-sidetab-button {
	background: var(--sp-color-interactive) !important;
}

.tf-v1-sidetab-button:focus-visible {
	outline: 5px solid orange !important;
}

.tf-v1-sidetab {
	top: 80% !important;
}